@font-face {
    font-family: 'Montserrat-Black';
    src: url('./assets/fonts/Montserrat/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat-BlackItalic';
    src: url('./assets/fonts/Montserrat/Montserrat-BlackItalic.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-BoldItalic';
    src: url('./assets/fonts/Montserrat/Montserrat-BoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraBoldItalic';
    src: url('./assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('./assets/fonts/Montserrat/Montserrat-ExtraLight.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraLightItalic';
    src: url('./assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('./assets/fonts/Montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('./assets/fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src: url('./assets/fonts/Montserrat/Montserrat-LightItalic.ttf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-MediumItalic';
    src: url('./assets/fonts/Montserrat/Montserrat-MediumItalic.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url('./assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('./assets/fonts/Montserrat/Montserrat-Thin.ttf');
}

@font-face {
    font-family: 'Montserrat-ThinItalic';
    src: url('./assets/fonts/Montserrat/Montserrat-ThinItalic.ttf');
}

body {
    font-family: 'Montserrat-Regular' !important;
}


.scroll {
    max-height: 60vh;
    overflow: auto;
}

table {
    position: relative;
    border-collapse: collapse;
}

th {
    position: sticky;
    top: 0;
}

thead {
    background-color: #dc3545;
    color: white;
}



.parentTableHead {
    overflow-y: auto;
    height: 70vh;
}

.parentTableHead th {
    z-index: 1;
    background-color: #dc3545;
    position: sticky;
    top: 0;
}

.childTableHead {
    overflow-y: auto;
    max-height: 480px;
}

.childTableHead thead th {
    z-index: 2;
    background-color: #dc3545;
    position: sticky;
    top: 0;
}

.leftSticky {
    cursor: pointer;
    position: sticky;
    left: 0;
    z-index: 3;
    -webkit-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0);
    -moz-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0);
    box-shadow: 5px 0px 15px 0px rgba(0, 0, 0);
    background-color: #ffaaaa;
}

.leftBagSticky {
    cursor: pointer;
    position: sticky;
    left: 0;
    z-index: 3;
    -webkit-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0);
    -moz-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0);
    box-shadow: 5px 0px 15px 0px rgba(0, 0, 0);
    background-color: #fee0e0;
    white-space: wrap;
}

.leftHeaderSticky {
    cursor: pointer;
    position: sticky;
    left: 0;
    z-index: 4 !important;
    -webkit-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0);
    -moz-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0);
    box-shadow: 5px 0px 15px 0px rgba(0, 0, 0);
    background-color: #ffaaaa;
}

.margin_left_right {
    margin-left: 2px;
    margin-right: 2px;
}