<form
    class='form-horizontal'
    autocomplete='off'
    #createRateZoneModal='ngForm'
    (ngSubmit)='save()'
>
    <abp-modal-header
        [title]='isCreate == true? ("Add RateZone" | localize) : ("Edit RateZone" | localize)'
        (onCloseClick)='bsModalRef.hide()'
    ></abp-modal-header>
    <div class='modal-body'>
        <div class='form-group row required'>
            <label class='col-md-3 col-form-label' for='zone'>
            {{ 'Zone' | localize }}
            </label>
            <div class='col-md-9'>
            <input
                type='text'
                class='form-control'
                name='zone'
                id='zone'
                required
                [(ngModel)]='ratezone.zone'
                #zoneModel='ngModel'
                #zoneEl
            />
            <abp-validation-summary
                [control]='zoneModel'
                [controlEl]='zoneEl'
            ></abp-validation-summary>
            </div>
        </div>
        <div class='form-group row required'>
            <label class='col-md-3 col-form-label' for='state'>
            {{ 'State' | localize }}
            </label>
            <div class='col-md-9'>
            <input
                type='text'
                class='form-control'
                name='state'
                id='state'
                required
                [(ngModel)]='ratezone.state'
                #stateModel='ngModel'
                #stateEl
            />
            <abp-validation-summary
                [control]='stateModel'
                [controlEl]='stateEl'
            ></abp-validation-summary>
            </div>
        </div>
        <div class='form-group row required'>
            <label class='col-md-3 col-form-label' for='city'>
            {{ 'City' | localize }}
            </label>
            <div class='col-md-9'>
            <input
                type='text'
                class='form-control'
                name='city'
                id='city'
                required
                [(ngModel)]='ratezone.city'
                #cityModel='ngModel'
                #cityEl
            />
            <abp-validation-summary
                [control]='cityModel'
                [controlEl]='cityEl'
            ></abp-validation-summary>
            </div>
        </div>
        <div class='form-group row'>
            <label class='col-md-3 col-form-label' for='postCode'>
            {{ 'PostCode' | localize }}
            </label>
            <div class='col-md-9'>
            <input
                type='text'
                class='form-control'
                name='postCode'
                id='postCode'
                required
                [(ngModel)]='ratezone.postCode'
                #postCodeModel='ngModel'
                #postCodeEl
            />
            <abp-validation-summary
                [control]='postCodeModel'
                [controlEl]='postCodeEl'
            ></abp-validation-summary>
            </div>
        </div>
        <div class='form-group row required'>
            <label class='col-md-3 col-form-label' for='country'>
            {{ 'Country' | localize }}
            </label>
            <div class='col-md-9'>
            <input
                type='text'
                class='form-control'
                name='country'
                id='country'
                required
                [(ngModel)]='ratezone.country'
                #countryModel='ngModel'
                #countryEl
            />
            <abp-validation-summary
                [control]='countryModel'
                [controlEl]='countryEl'
            ></abp-validation-summary>
            </div>
        </div>
    </div>
    <abp-modal-footer
    [cancelDisabled]='saving'
    [saveDisabled]='!createRateZoneModal.form.valid || saving'
    (onCancelClick)='bsModalRef.hide()'
    ></abp-modal-footer>
</form>
