<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Dispatch Tracking" | localize }}</h1>
        </div>
        <div class="col-6 text-right"></div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-7">&emsp;</div>
            <div class="col-md-2">
              <select
                name="country"
                id="country"
                class="form-control m-1"
                (change)="selectCountry($event)"
              >
                <option value="">Select Country</option>
                <option *ngFor="let country of countries" value="{{ country }}">
                  {{ country }}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    type="button"
                    class="btn bg-danger"
                    (click)="search()"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="keyword"
                  [placeholder]="'SearchWithThreeDot' | localize"
                  [(ngModel)]="keyword"
                  (keyup.enter)="search()"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="parentTableHead">
            <div class="table">
              <table
                class="table table-hover"
                [busy]="isTableLoading"
                style="table-layout: fixed"
              >
                <thead>
                  <tr>
                    <th>{{ "Dispatch" | localize }}</th>
                    <th>{{ "Postal" | localize }}</th>
                    <th>{{ "Date" | localize }}</th>
                    <th>{{ "Customer" | localize }}</th>
                  </tr>
                </thead>
                <tbody>
                  @for (dispatch of dispatches; track dispatch; let indexC =
                  $index) {
                  <tr style="cursor: pointer" (click)="openCountry(indexC)">
                    <td>{{ dispatch.dispatch }}</td>
                    <td>{{ dispatch.postalCode }}</td>
                    <td>{{ dispatch.dispatchDate }}</td>
                    <td>{{ dispatch.customer }}</td>
                  </tr>
                  @if (dispatch.open) {
                  <tr>
                    <td colspan="4" style="padding: 0; margin: 0">
                      <div
                        class="childTableHead"
                        style="
                          overflow-x: auto;
                          max-width: 100%;
                          padding: 0;
                          margin: 0;
                        "
                      >
                        <table
                          class="table"
                          style="
                            margin-bottom: 0;
                            width: 100%;
                            white-space: nowrap;
                            table-layout: auto;
                          "
                        >
                          <thead>
                            <tr>
                              <th class="leftHeaderSticky">Country</th>
                              <th>Stage 1</th>
                              <th>Stage 2</th>
                              <th>Stage 3</th>
                              <th>Stage 4</th>
                              <th>Stage 5</th>
                              <th>Stage 6</th>
                              <th>Airport</th>
                              <th>Stage 7</th>
                            </tr>
                          </thead>
                          <tbody>
                            @for (country of dispatch.dispatchCountries; track country; let indexB = $index) {
                              @if(country.select)
                              {
                                <tr style="background-color: #ffe1e1">
                                  <td
                                    class="leftSticky"
                                  >
                                    <div class="row" (click)="countrySelect(indexC, indexB)">
                                      <div class="col-4">
                                        <input
                                          type="checkbox"
                                          [(ngModel)]="country.select"
                                        />
                                      </div>
                                      <div class="col-8">
                                        {{ country.countryCode }}
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-12">
                                        <span class="badge badge-light mt-1 mb-1 float-right cursor hover" (click)="openCloseBag(indexC, indexB)">Bags</span>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="row">
                                      <input
                                        type="text"
                                        class="form-control m-1"
                                        placeholder="Stage 1 Description"
                                        (input)="inputStage($event, indexC, '', 'stage1')"
                                      />
                                    </div>
                                    <div class="row">
                                      <input
                                        type="datetime-local"
                                        class="form-control m-1"
                                        (change)="inputStage($event, indexC, '', 'time1')"
                                      />
                                    </div>
                                  </td>
                                  <td>
                                    <div class="row">
                                      <input
                                        type="text"
                                        class="form-control m-1"
                                        placeholder="Stage 2 Description"
                                        (input)="inputStage($event, indexC, '', 'stage2')"
                                      />
                                    </div>
                                    <div class="row">
                                      <input
                                        type="datetime-local"
                                        class="form-control m-1"
                                        (change)="inputStage($event, indexC, '', 'time2')"
                                      />
                                    </div>
                                  </td>
                                  <td>
                                    <div class="row">
                                      <input
                                        type="text"
                                        class="form-control m-1"
                                        placeholder="Stage 3 Description"
                                        (input)="inputStage($event, indexC, '', 'stage3')"
                                      />
                                    </div>
                                    <div class="row">
                                      <input
                                        type="datetime-local"
                                        class="form-control m-1"
                                        (change)="inputStage($event, indexC, '', 'time3')"
                                      />
                                    </div>
                                  </td>
                                  <td>
                                    <div class="row">
                                      <input
                                        type="text"
                                        class="form-control m-1"
                                        placeholder="Stage 4 Description"
                                        (input)="inputStage($event, indexC, '', 'stage4')"
                                      />
                                    </div>
                                    <div class="row">
                                      <input
                                        type="datetime-local"
                                        class="form-control m-1"
                                        (change)="inputStage($event, indexC, '', 'time4')"
                                      />
                                    </div>
                                  </td>
                                  <td>
                                    <div class="row">
                                      <input
                                        type="text"
                                        class="form-control m-1"
                                        placeholder="Stage 5 Description"
                                        (input)="inputStage($event, indexC, '', 'stage5')"
                                      />
                                    </div>
                                    <div class="row">
                                      <input
                                        type="datetime-local"
                                        class="form-control m-1"
                                        (change)="inputStage($event, indexC, '', 'time5')"
                                      />
                                    </div>
                                  </td>
                                  <td>
                                    <div class="row">
                                      <input
                                        type="text"
                                        class="form-control m-1"
                                        placeholder="Stage 6 Description"
                                        (input)="inputStage($event, indexC, '', 'stage6')"
                                      />
                                    </div>
                                    <div class="row">
                                      <input
                                        type="datetime-local"
                                        class="form-control m-1"
                                        (change)="inputStage($event, indexC, '', 'time6')"
                                      />
                                    </div>
                                  </td>
                                  <td>
                                    <div class="row">
                                      <select
                                        name="airport"
                                        id="airport"
                                        class="form-control m-1"
                                        (change)="inputStage($event, indexC, '', 'airport')"
                                      >
                                        <option
                                          value="{{ airport.name }}"
                                          *ngFor="let airport of airports"
                                        >
                                          {{ airport.name }}
                                        </option>
                                      </select>
                                    </div>
                                    <div class="row">
                                      <input
                                        type="datetime-local"
                                        class="form-control m-1"
                                        (change)="inputStage($event, indexC, '', 'airportTime')"
                                      />
                                    </div>
                                  </td>
                                  <td>
                                    <div class="row">
                                      <input
                                        type="text"
                                        class="form-control m-1"
                                        placeholder="Stage 7 Description"
                                        (input)="inputStage($event, indexC, '', 'stage7')"
                                      />
                                    </div>
                                    <div class="row">
                                      <input
                                        type="datetime-local"
                                        class="form-control m-1"
                                        (change)="inputStage($event, indexC, '', 'time7')"
                                      />
                                    </div>
                                  </td>
                                </tr>
                              }
                              @if(country.open) 
                              {
                                @for (bag of country.dispatchBags; track bag; let indexS = $index) {
                                  @if(bag.custom)
                                  {
                                    <tr style="background-color: #fff4f4">
                                      <td
                                        class="leftBagSticky"
                                        (click)="selectBag(indexC, indexB, indexS)"
                                      >
                                        <div class="row">
                                          <div class="col-4">
                                            <input
                                              type="checkbox"
                                              [(ngModel)]="bag.select"
                                            />
                                          </div>
                                          <div class="col-8">
                                            {{ bag.bagNo }}
                                          </div>
                                          <div class="col-12">
                                            <span class="badge badge-light mt-1 mb-1 float-right cursor hover" (click)="custom(indexC, indexB, indexS)">Cancel</span>
                                          </div>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="row">
                                          <input
                                            type="text"
                                            class="form-control m-1"
                                            placeholder="Stage 1 Description"
                                            (input)="inputStage($event, indexC, bag.bagNo, 'stage1')"
                                          />
                                        </div>
                                        <div class="row">
                                          <input
                                            type="datetime-local"
                                            class="form-control m-1"
                                            (change)="inputStage($event, indexC, bag.bagNo, 'time1')"
                                          />
                                        </div>
                                      </td>
                                      <td>
                                        <div class="row">
                                          <input
                                            type="text"
                                            class="form-control m-1"
                                            placeholder="Stage 2 Description"
                                            (input)="inputStage($event, indexC, bag.bagNo, 'stage2')"
                                          />
                                        </div>
                                        <div class="row">
                                          <input
                                            type="datetime-local"
                                            class="form-control m-1"
                                            (change)="inputStage($event, indexC, bag.bagNo, 'time2')"
                                          />
                                        </div>
                                      </td>
                                      <td>
                                        <div class="row">
                                          <input
                                            type="text"
                                            class="form-control m-1"
                                            placeholder="Stage 3 Description"
                                            (input)="inputStage($event, indexC, bag.bagNo, 'stage3')"
                                          />
                                        </div>
                                        <div class="row">
                                          <input
                                            type="datetime-local"
                                            class="form-control m-1"
                                            (change)="inputStage($event, indexC, bag.bagNo, 'time3')"
                                          />
                                        </div>
                                      </td>
                                      <td>
                                        <div class="row">
                                          <input
                                            type="text"
                                            class="form-control m-1"
                                            placeholder="Stage 4 Description"
                                            (input)="inputStage($event, indexC, bag.bagNo, 'stage4')"
                                          />
                                        </div>
                                        <div class="row">
                                          <input
                                            type="datetime-local"
                                            class="form-control m-1"
                                            (change)="inputStage($event, indexC, bag.bagNo, 'time4')"
                                          />
                                        </div>
                                      </td>
                                      <td>
                                        <div class="row">
                                          <input
                                            type="text"
                                            class="form-control m-1"
                                            placeholder="Stage 5 Description"
                                            (input)="inputStage($event, indexC, bag.bagNo, 'stage5')"
                                          />
                                        </div>
                                        <div class="row">
                                          <input
                                            type="datetime-local"
                                            class="form-control m-1"
                                            (change)="inputStage($event, indexC, bag.bagNo, 'time5')"
                                          />
                                        </div>
                                      </td>
                                      <td>
                                        <div class="row">
                                          <input
                                            type="text"
                                            class="form-control m-1"
                                            placeholder="Stage 6 Description"
                                            (input)="inputStage($event, indexC, bag.bagNo, 'stage6')"
                                          />
                                        </div>
                                        <div class="row">
                                          <input
                                            type="datetime-local"
                                            class="form-control m-1"
                                            (change)="inputStage($event, indexC, bag.bagNo, 'time6')"
                                          />
                                        </div>
                                      </td>
                                      <td>
                                        <div class="row">
                                          <select
                                            name="airport"
                                            id="airport"
                                            class="form-control m-1"
                                            (change)="inputStage($event, indexC, '', 'airport')"
                                          >
                                            <option
                                              value="{{ airport.name }}"
                                              *ngFor="let airport of airports"
                                            >
                                              {{ airport.name }}
                                            </option>
                                          </select>
                                        </div>
                                        <div class="row">
                                          <input
                                            type="datetime-local"
                                            class="form-control m-1"
                                            (change)="inputStage($event, indexC, bag.bagNo, 'airportTime')"
                                          />
                                        </div>
                                      </td>
                                      <td>
                                        <div class="row">
                                          <input
                                            type="text"
                                            class="form-control m-1"
                                            placeholder="Stage 7 Description"
                                            (input)="inputStage($event, indexC, bag.bagNo, 'stage7')"
                                          />
                                        </div>
                                        <div class="row">
                                          <input
                                            type="datetime-local"
                                            class="form-control m-1"
                                            (change)="inputStage($event, indexC, bag.bagNo, 'time7')"
                                          />
                                        </div>
                                      </td>
                                    </tr> 
                                  }
                                }
                                <tr>
                                  <td colspan="100%">
                                    <div class="row">
                                      @for (bag of country.dispatchBags; track bag; let indexZ = $index) {
                                        @if(!bag.custom) {
                                          <div class="col-md-6 col-lg-2 mb-0">
                                            <div class="bagContainer">
                                              <input class="mt-1 mb-1 mr-1 cursor"  type="checkbox" name="{{bag.bagNo}}" id="{{bag.bagNo}}" [(ngModel)]="bag.select">
                                              <label class="mt-1 mb-1 mr-1 cursor" for="{{bag.bagNo}}"> {{bag.bagNo}}</label>
                                              <span class="badge badge-light mt-1 mb-1 float-right cursor hover" (click)="custom(indexC, indexB, indexZ)">Custom</span>
                                            </div>
                                          </div>
                                        }
                                      }
                                    </div>
                                  </td>
                                </tr>
                              }
                            }
                            <tr>
                              <td colspan="100%">
                                <div class="row">
                                  @for (country of dispatch.dispatchCountries; track country; let indexY = $index) {
                                    @if(!country.select) {
                                      <div class="col-md-6 col-lg-2 mb-0">
                                        <div class="bagContainer" (click)="countrySelect(indexC, indexY)">
                                          <input class="mt-1 mb-1 mr-1 cursor"  type="checkbox" name="{{country.countryCode}}" id="{{country.countryCode}}" [(ngModel)]="country.select">
                                          <label class="mt-1 mb-1 mr-1 cursor" for="{{country.countryCode}}"> {{country.countryCode}}</label>
                                        </div>
                                      </div>
                                    }
                                  }
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                  } }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
