<abp-modal-header
  [title]="
    isRequest == true
      ? ('Request Body' | localize)
      : ('Response Body' | localize)
  "
  (onCloseClick)="bsModalRef.hide()"
></abp-modal-header>
<div class="modal-body">
  <div class="row">
    <div class="col-3">
      {{ "Date-Time" | localize }}
    </div>
    <div class="col-9">
      {{ datetime | date : "dd/MM/yyyy HH:mm:ss aa" }}
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-3">
      {{ "Body" | localize }}
    </div>
    <div class="col-9 scrollable-json">
      <pre>{{ bodyJSON | json }}</pre>
    </div>
  </div>
</div>
