<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          @if (showHeader) {
          <h1>{{ "Dispatches" | localize }}</h1>
          }
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              @if (!showPagination) {
              <h5 class="mt-2">Showing Latest {{maxItems}} Records</h5>
              }
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    type="button"
                    class="btn bg-success"
                    (click)="getDataPage(1)"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="keyword"
                  [placeholder]="'SearchWithThreeDot' | localize"
                  [(ngModel)]="keyword"
                  (keyup.enter)="getDataPage(1)"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="scroll">
            <table class="table table-bordered" [busy]="isTableLoading">
              <thead>
                <tr>
                  <th>{{ "Customer" | localize }}</th>
                  <th>{{ "Postal" | localize }}</th>
                  <th>{{ "Date" | localize }}</th>
                  <th>{{ "Dispatch No" | localize }}</th>
                  <th>{{ "Service" | localize }}</th>
                  <th>{{ "Product" | localize }}</th>
                  <th>{{ "Total Bags" | localize }}</th>
                  <th>{{ "Total Weight" | localize }} (KG)</th>
                  <th>{{ "Total Countries" | localize }}</th>
                  <th>{{ "Status" | localize }}</th>
                  <th
                    style="width: 310px"
                    *ngIf="isButtonVisible('Edit') && isButtonVisible('Delete')"
                  >
                    <!-- {{ "Actions" | localize }} -->
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let dispatch of dispatches
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          }
                  "
                  [ngClass]="dispatch.status == 'Upload Completed' ? 'pink' : 'green'"
                >
                  <td>{{ dispatch.customerName }}</td>
                  <td>{{ dispatch.postalDesc }}</td>
                  <td>{{ dispatch.dispatchDate | date : "dd/MM/yyyy" }}</td>
                  <td>{{ dispatch.dispatchNo }}</td>
                  <td>{{ dispatch.serviceDesc }}</td>
                  <td>{{ dispatch.productDesc }}</td>
                  <td>{{ dispatch.totalBags }}</td>
                  <td>{{ dispatch.totalWeight | number : "1.3-3" }}</td>
                  <td>{{ dispatch.totalCountry }}</td>
                  <td>{{ dispatch.status }}</td>
                  <td
                    *ngIf="isButtonVisible('Edit') || isButtonVisible('Delete')"
                  >
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="dropdownMenu2"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Actions
                      </button>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenu2"
                      >
                        <button
                          class="bg-info dropdown-item mb-1"
                          type="button"
                          (click)="
                            downloadManifest(
                              dispatch.dispatchNo,
                              dispatch.status
                            )
                          "
                          [disabled]="isDownloadingManifest"
                          *ngIf="
                            dispatch.dispatchNo.slice(0, 2) == 'KG' ||
                            dispatch.dispatchNo.slice(0, 2) == 'GQ' ||
                            dispatch.dispatchNo.slice(0, 2) == 'SL' ||
                            dispatch.dispatchNo.slice(0, 2) == 'DO'
                          "
                        >
                          @if (!isDownloadingManifest) { Download
                          {{ dispatch.dispatchNo.slice(0, 2) }} Pre-Alert }
                          @else {
                          <div
                            class="spinner-border spinner-border-sm"
                            role="status"
                          >
                            <span class="sr-only">Loading...</span>
                          </div>
                          Downloading }
                        </button>

                        <button
                          class="bg-info dropdown-item mb-1"
                          type="button"
                          (click)="
                            downloadBag(dispatch.dispatchNo, dispatch.status)
                          "
                          [disabled]="isDownloadingBag"
                          *ngIf="
                            dispatch.dispatchNo.slice(0, 2) == 'KG' ||
                            dispatch.dispatchNo.slice(0, 2) == 'GQ' ||
                            dispatch.dispatchNo.slice(0, 2) == 'SL' ||
                            dispatch.dispatchNo.slice(0, 2) == 'DO'
                          "
                        >
                          @if (!isDownloadingBag) { Download
                          {{ dispatch.dispatchNo.slice(0, 2) }} Manifest }
                          @else{
                          <div
                            class="spinner-border spinner-border-sm"
                            role="status"
                          >
                            <span class="sr-only">Loading...</span>
                          </div>
                          Downloading }
                        </button>
                        @if (dispatch.status == 'Upload Completed') {
                        <button
                          type="button"
                          class="bg-warning dropdown-item mb-1"
                          (click)="postCheck(dispatch.dispatchNo)"
                        >
                          Post Check
                        </button>
                        }
                        @if (dispatch.status != 'Upload Completed') {
                        <button
                          type="button"
                          class="bg-danger dropdown-item"
                          (click)="undoPostCheck(dispatch.dispatchNo)"
                        >
                          @if (!isUndoingPostCheck) {
                            Undo Post Check
                          }
                          @else{
                            <div
                              class="spinner-border spinner-border-sm"
                              role="status"
                            >
                              <span class="sr-only">Loading...</span>
                            </div>
                            &nbsp;Undoing Post Check 
                          }
                        </button>
                        }
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            @if (showPagination){
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize : totalItems }}
              </p>
            </div>
            } @else {
            <div class="col-sm-4 col-12 text-center"></div>
            } @if (showPagination) {
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
            } @else if (!showPagination) {
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <button class="btn btn-info" (click)="rerouteToModule()">
                  <i class="far fa-file-alt"></i>
                  Show More
                </button>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
