
<div [@routerTransition]>
    <section class='content-header'>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-6'>
                    <h1>{{ 'Rate Items' | localize }}</h1>
                </div>
                <div class='col-6 text-right' *ngIf='isButtonVisible("Create")'>
                    <a href='javascript:;' class='btn bg-blue' (click)='uploadRateItem()'>
                        <i class='fa fa-file-arrow-up'></i>
                        {{ 'Upload' | localize }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class='content px-2'>
        <div class='container-fluid'>
            <div class='card'>
                <div class='card-header'>
                    <div class="row">
                        <div class="col-md-6">
                            Rate Card Names
                        </div>
                    </div>
                    <div class='row mt-3'>
                        <!-- <div class='col-md-6'>&emsp;</div>
                        <div class='col-md-6'>
                            <div class='input-group'>
                                <div class='input-group-prepend'>
                                    <button
                                            type='button'
                                            class='btn bg-blue'
                                            (click)='getDataPage(1)'
                                    >
                                        <i class='fas fa-search'></i>
                                    </button>
                                </div>
                                <input
                                        type='text'
                                        class='form-control'
                                        name='keyword'
                                        [placeholder]='"SearchWithThreeDot" | localize'
                                        [(ngModel)]='keyword'
                                        (keyup.enter)='getDataPage(1)'
                                />
                            </div>
                        </div> -->
                        <div class="col-md-12">
                            <button class="btn btn-primary mr-1" *ngFor="let rate of rates" (click)='filter(rate.id)'>
                                {{rate.cardName}} ({{rate.count}})
                            </button>
                        </div>
                    </div>
                </div>
                <div class='card-body'>
                    <div class='table-responsive'>
                        <table class='table table-striped table-bordered' [busy]='isTableLoading'>
                            <thead class='bg-light'>
                            <tr>
                                <th>{{ 'Rate Card Name' | localize }}</th>
                                <th>{{ 'Service Code' | localize }}</th>
                                <th>{{ 'Product Code' | localize }}</th>
                                <th>{{ 'Country Code' | localize }}</th>
                                <th>{{ 'Total' | localize }}</th>
                                <th>{{ 'Fee' | localize }}</th>
                                <th>{{ 'Currency' | localize }}</th>
                                <th>{{ 'Payment Mode' | localize }}</th>
                                <!-- <th style='width: 310px;' *ngIf='isButtonVisible("Edit") && isButtonVisible("Delete")'>{{ 'Actions' | localize }}</th> -->
                            </tr>
                            </thead>
                            <tbody>
                            <tr
                                    *ngFor='
                  let rateItem of rateItems
                    | paginate
                      : {
                          id: "server",
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        }
                '
                            >
                                <td>{{ rateItem.rateCardName }}</td>
                                <td>{{ rateItem.serviceCode }}</td>
                                <td>{{ rateItem.productCode }}</td>
                                <td>{{ rateItem.countryCode }}</td>
                                <td>{{ rateItem.total | currency }}</td>
                                <td>{{ rateItem.fee | currency }}</td>
                                <td>{{ rateItem.currency }}</td>
                                <td>{{ rateItem.paymentMode }}</td>
                                <!-- <td *ngIf='isButtonVisible("Edit") || isButtonVisible("Delete")'>
                                    <button
                                            type='button'
                                            class='btn btn-sm bg-secondary'
                                            (click)='editRateItem(rateItem)'
                                            *ngIf='isButtonVisible("Edit")'
                                    >
                                        <i class='fas fa-pencil-alt'></i>
                                        {{ 'Edit' | localize }}
                                    </button>
                                    <button
                                            type='button'
                                            class='btn btn-sm bg-danger mx-2'
                                            (click)='delete(rateItem)'
                                            *ngIf='isButtonVisible("Delete")'
                                    >
                                        <i class='fas fa-trash'></i>
                                        {{ 'Delete' | localize }}
                                    </button>
                                </td> -->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class='card-footer table-card-footer bg-light border-top'>
                    <div class='row'>
                        <div class='col-sm-4 col-12 text-sm-left text-center'>
                            <button class='btn btn-secondary' (click)='refresh()'>
                                <i class='fas fa-redo-alt'></i>
                            </button>
                        </div>
                        <div class='col-sm-4 col-12 text-center'>
                            <p class='mb-0 my-2'>
                                {{ 'TotalRecordsCount' | localize: totalItems }}
                            </p>
                        </div>
                        <div class='col-sm-4 col-12'>
                            <div class='float-sm-right m-auto'>
                                <abp-pagination-controls
                                        id='server'
                                        (pageChange)='getDataPage($event)'
                                >
                                </abp-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
