<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Customers" | localize }}</h1>
        </div>
        <div class="col-6 text-right" *ngIf="isButtonVisible('Create')">
          <a href="javascript:;" class="btn bg-blue" (click)="createCustomer()">
            <i class="fa fa-plus-square"></i>
            {{ "Create Customer" | localize }}
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">&emsp;</div>
            <div class="col-md-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    type="button"
                    class="btn bg-blue"
                    (click)="search(true)"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="keyword"
                  [placeholder]="'SearchWithThreeDot' | localize"
                  [(ngModel)]="keyword"
                  (keyup.enter)="search(true)"
                />
              </div>
            </div>
            <div class="col-md-1">
              <button
                type="button"
                class="btn bg-secondary"
                (click)="clearFilters()"
              >
                <i class="fas fa-xmark"></i>
                Clear
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-striped table-bordered"
              [busy]="isTableLoading"
            >
              <thead class="bg-light">
                <tr>
                  <th>{{ "Code" | localize }}</th>
                  <th>{{ "Company Name" | localize }}</th>
                  <th>{{ "Email Address" | localize }}</th>
                  <!-- <th>{{ 'Password' | localize }}</th> -->
                  <th>{{ "Address Line 1" | localize }}</th>
                  <th>{{ "Address Line 2" | localize }}</th>
                  <th>{{ "City" | localize }}</th>
                  <th>{{ "State" | localize }}</th>
                  <th>{{ "Country" | localize }}</th>
                  <th>{{ "Phone Number" | localize }}</th>
                  <th>{{ "Registration No" | localize }}</th>
                  <th>{{ "Email Address 2" | localize }}</th>
                  <th>{{ "Email Address 3" | localize }}</th>
                  <th>{{ "IsActive" | localize }}</th>
                  <th
                    style="width: 310px"
                    *ngIf="isButtonVisible('Edit') && isButtonVisible('Delete')"
                  >
                    {{ "Actions" | localize }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let customer of customers
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          }
                  "
                >
                  <td>{{ customer.code }}</td>
                  <td>{{ customer.companyName }}</td>
                  <td>{{ customer.emailAddress }}</td>
                  <!-- <td>{{ customer.password }}</td> -->
                  <td>{{ customer.addressLine1 }}</td>
                  <td>{{ customer.addressLine2 }}</td>
                  <td>{{ customer.city }}</td>
                  <td>{{ customer.state }}</td>
                  <td>{{ customer.country }}</td>
                  <td>{{ customer.phoneNumber }}</td>
                  <td>{{ customer.registrationNo }}</td>
                  <td>{{ customer.emailAddress2 }}</td>
                  <td>{{ customer.emailAddress3 }}</td>
                  <td
                    *ngIf="customer.isActive"
                    class="text-center"
                    style="color: rgb(9, 145, 41)"
                  >
                    <i class="fas fa-check-circle"></i>
                  </td>
                  <td
                    *ngIf="!customer.isActive"
                    class="text-center"
                    style="color: rgb(212, 5, 5)"
                  >
                    <i class="fas fa-times-circle"></i>
                  </td>
                  <td
                    *ngIf="isButtonVisible('Edit') || isButtonVisible('Delete')"
                  >
                    <button
                      type="button"
                      class="btn btn-sm bg-secondary"
                      (click)="editCustomer(customer)"
                      *ngIf="isButtonVisible('Edit')"
                    >
                      <i class="fas fa-pencil-alt"></i>
                      {{ "Edit" | localize }}
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm bg-danger mx-1"
                      (click)="delete(customer)"
                      *ngIf="isButtonVisible('Delete')"
                    >
                      <i class="fas fa-trash"></i>
                      {{ "Delete" | localize }}
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm bg-warning mx-2"
                      (click)="postal(customer)"
                      *ngIf="isButtonVisible('Delete')"
                    >
                      <i class="fas fa-parachute-box"></i>
                      {{ "Postal" | localize }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize : totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="content-header" *ngIf="openPostal">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Customer Postals" | localize }}</h1>
        </div>
        <div class="col-6 text-right" *ngIf="isButtonVisible('Create')">
          <button
            href="javascript:;"
            class="btn bg-blue"
            (click)="createCustomerPostal()"
            [disabled]="postalItems.length == 0 || rateItems.length == 0"
          >
            <i class="fa fa-plus-square"></i>
            {{ "Add Customer Postal" | localize }}
        </button>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2" *ngIf="openPostal">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-1">
              <button (click)="closePostal()" class="btn btn-danger btn-md">
                <i class="fa-solid fa-xmark"></i>
                Close
              </button>
            </div>
            <div class="col-md-5">
              <div
                class="row"
                style="
                  display: flex;
                  justify-content: left;
                  align-items: center;
                "
              >
                <select
                  name="entriesCount"
                  id="entriesCount"
                  class="form-control col-2"
                  (change)="entries($event)"
                >
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="250">250</option>
                </select>
                <h6 class="ml-2 mt-2">Entries</h6>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    type="button"
                    class="btn bg-blue"
                    (click)="search(false)"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="postal_keyword"
                  [placeholder]="'SearchWithThreeDot' | localize"
                  [(ngModel)]="postal_keyword"
                  (keyup.enter)="search(false)"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-striped table-bordered"
              [busy]="isTableLoading"
            >
              <thead class="bg-light">
                <tr>
                  <th>{{ "Postal" | localize }}</th>
                  <th>{{ "Rate" | localize }}</th>
                  <th>{{ "AccountNo" | localize }}</th>
                  <th
                    style="width: 310px"
                    *ngIf="isButtonVisible('Edit') && isButtonVisible('Delete')"
                  >
                    {{ "Actions" | localize }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let customerpostal of customerpostals
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pagePostalNumber,
                            totalItems: totalItems
                          }
                  "
                >
                  <td>{{ customerpostal.postal }}</td>
                  <td>{{ customerpostal.rateCard }}</td>
                  <td>{{ customerpostal.code }}</td>
                  <td *ngIf="isButtonVisible('Delete')">
                    <button
                      type="button"
                      class="btn btn-sm bg-danger mx-2"
                      (click)="deleteCustomerPostal(customerpostal)"
                      *ngIf="isButtonVisible('Delete')"
                    >
                      <i class="fas fa-trash"></i>
                      {{ "Delete" | localize }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize : totalPostalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
