<form
    class='form-horizontal'
    autocomplete='off'
    #createApplicationSettingModal='ngForm'
    (ngSubmit)='save()'
>
    <abp-modal-header
        [title]='isCreate == true? ("Add ApplicationSetting" | localize) : ("Edit ApplicationSetting" | localize)'
        (onCloseClick)='bsModalRef.hide()'
    ></abp-modal-header>
    <div class='modal-body'>
        <div class='form-group row required'>
            <label class='col-md-3 col-form-label' for='name'>
            {{ 'Name' | localize }}
            </label>
            <div class='col-md-9'>
            <input
                type='text'
                class='form-control'
                name='name'
                id='name'
                required
                [(ngModel)]='applicationsetting.name'
                #nameModel='ngModel'
                #nameEl
            />
            <abp-validation-summary
                [control]='nameModel'
                [controlEl]='nameEl'
            ></abp-validation-summary>
            </div>
        </div>
        <div class='form-group row required'>
            <label class='col-md-3 col-form-label' for='8'>
            {{ '8' | localize }}
            </label>
            <div class='col-md-9'>
            <input
                type='text'
                class='form-control'
                name='8'
                id='8'
                required
                [(ngModel)]='applicationsetting.8'
                #8Model='ngModel'
                #8El
            />
            <abp-validation-summary
                [control]='8Model'
                [controlEl]='8El'
            ></abp-validation-summary>
            </div>
        </div>
    </div>
    <abp-modal-footer
    [cancelDisabled]='saving'
    [saveDisabled]='!createApplicationSettingModal.form.valid || saving'
    (onCancelClick)='bsModalRef.hide()'
    ></abp-modal-footer>
</form>
