<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-6">
          <h1>{{ "Post-Check" | localize }}</h1>
        </div>
        <div class="col-6 text-right"></div> -->
      </div>
    </div>
  </section>
  <div class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4 class="mt-2">
                <strong> Bypass </strong>
              </h4>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="weightGap">
                  {{ "Weight Gap" | localize }}
                  <br />
                  (KG)
                </label>
                <div class="col-md-9">
                  <input
                    type="number"
                    placeholder="Eg. 1.88"
                    class="form-control"
                    name="weightGap"
                    id="weightGap"
                    maxlength="32"
                    [(ngModel)]="bypassValue"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                  <button
                    class="btn btn-danger"
                    (click)="BypassPostCheck()"
                    [disabled]="isLoading"
                  >
                    @if (!isLoading) { Bypass Post Check } @else{
                    <div class="spinner-border spinner-border-sm" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    Bypassing }
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <h4 class="mt-2">
                    <strong> Upload Post Check </strong>
                  </h4>
                </div>
                <div class="col-md-6 text-right">
                  <button class="btn btn-info" (click)="downloadTemplate()">
                    Download Template
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="uploadPostCheck">
                  {{ "File must be in .xlsx format" | localize }}
                </label>
                <div class="col-md-9">
                  <input
                    type="file"
                    accept=".xlsx"
                    class="file-upload"
                    (change)="handleUpload($event)"
                    name="uploadPostCheck"
                    id="uploadPostCheck"
                    [(ngModel)]="fileUpload"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                  <button
                    class="btn btn-primary"
                    [disabled]="fileUpload == undefined"
                    (click)="UploadPostCheck()"
                  >
                    Upload
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <h4 class="mt-2">
                    <strong> Post Check </strong>
                  </h4>
                </div>
                <div class="col-md-6 text-right">
                  <button
                    class="btn btn-primary"
                    (click)="SubmitPostCheck()"
                    [disabled]="
                      postchecks == undefined ||
                      postchecks.companyName == undefined
                    "
                  >
                    Save Changes
                  </button>
                </div>
              </div>
            </div>
            @if (postchecks == undefined){
            <div class="text-center mt-3 mb-3">
              <div
                class="spinner-border text-primary"
                style="width: 3rem; height: 3rem"
                role="status"
              >
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            }@else if (postchecks.companyName == undefined) {
            <div class="text-center mt-3 mb-3">
              <button class="btn btn-info" (click)="backToHome()">
                Back To Home
              </button>
            </div>
            }@else if (postchecks.companyName != '' && postchecks.companyName !=
            undefined) {
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="customer">
                      {{ "Customer" | localize }}
                    </label>
                    <div class="col-md-9">
                      <input
                        type="text"
                        [disabled]="true"
                        class="form-control"
                        name="customer"
                        id="customer"
                        maxlength="32"
                        [(ngModel)]="postchecks.companyName"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="dispatchNo">
                      {{ "Dispatch No." | localize }}
                    </label>
                    <div class="col-md-9">
                      <input
                        type="text"
                        [disabled]="true"
                        class="form-control"
                        name="dispatchNo"
                        id="dispatchNo"
                        maxlength="32"
                        [(ngModel)]="dispatchNo"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="flight">
                      {{ "Flight" | localize }}
                    </label>
                    <div class="col-md-9">
                      <input
                        type="text"
                        [disabled]="true"
                        class="form-control"
                        name="flight"
                        id="flight"
                        maxlength="32"
                        [(ngModel)]="postchecks.flightTrucking"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="eta">
                      {{ "ETA" | localize }}
                    </label>
                    <div class="col-md-9">
                      <input
                        type="date"
                        [disabled]="true"
                        class="form-control"
                        name="eta"
                        id="eta"
                        [(ngModel)]="postchecks.eta"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="ata">
                      {{ "ATA" | localize }}
                    </label>
                    <div class="col-md-9">
                      <input
                        type="date"
                        [disabled]="false"
                        class="form-control"
                        name="ata"
                        id="ata"
                        [(ngModel)]="postchecks.ata"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="accountNo">
                      {{ "Account No." | localize }}
                    </label>
                    <div class="col-md-9">
                      <input
                        type="text"
                        [disabled]="true"
                        class="form-control"
                        name="accountNo"
                        id="accountNo"
                        maxlength="32"
                        [(ngModel)]="postchecks.companyCode"
                      />
                    </div>
                  </div>

                  <!-- <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="mawb">
                            {{ "MAWB No." | localize }}
                          </label>
                          <div class="col-md-9">
                            <input
                              type="text"
                              [disabled]="true"
                              class="form-control"
                              name="mawb"
                              id="mawb"
                              maxlength="32"
                              [(ngModel)]="mawb"
                            />
                          </div>
                        </div> -->

                  <div class="form-group row">
                    <label
                      class="col-md-3 col-form-label"
                      for="preCheckNoOfBag"
                    >
                      {{ "Pre-Check No. of Bag" | localize }}
                    </label>
                    <div class="col-md-9">
                      <input
                        type="number"
                        [disabled]="true"
                        class="form-control"
                        name="preCheckNoOfBag"
                        id="preCheckNoOfBag"
                        maxlength="32"
                        [(ngModel)]="postchecks.preCheckNoOfBag"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label
                      class="col-md-3 col-form-label"
                      for="postCheckNoOfBag"
                    >
                      {{ "Post-Check No. of Bag" | localize }}
                    </label>
                    <div class="col-md-9">
                      <input
                        type="number"
                        [disabled]="false"
                        class="form-control"
                        name="postCheckNoOfBag"
                        id="postCheckNoOfBag"
                        [(ngModel)]="postchecks.postCheckNoOfBag"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="preCheckWeight">
                      {{ "Pre-Check Weight (KG)" | localize }}
                    </label>
                    <div class="col-md-9">
                      <input
                        type="number"
                        [disabled]="true"
                        class="form-control"
                        name="preCheckWeight"
                        id="preCheckWeight"
                        [(ngModel)]="postchecks.preCheckWeight"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label
                      class="col-md-3 col-form-label"
                      for="postCheckWeight"
                    >
                      {{ "Post-Check Weight (KG)" | localize }}
                    </label>
                    <div class="col-md-9">
                      <input
                        type="number"
                        [disabled]="false"
                        class="form-control"
                        name="postCheckWeight"
                        id="postCheckWeight"
                        [(ngModel)]="postchecks.postCheckWeight"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="table table-bordered table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>{{ "Bag No." | localize }}</th>
                      <th>{{ "Quantity" | localize }}</th>
                      <th>{{ "Total Weight" | localize }}</th>
                      <th>{{ "Actual Weight" | localize }}</th>
                      <th>{{ "Weight Variance" | localize }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bag of postchecks.bags; let i; as: index">
                      <td>{{ bag.bagNo }}</td>
                      <td>{{ bag.itemCountPre }}</td>
                      <td>{{ bag.weightPre }}</td>
                      <td>
                        <input
                          type="number"
                          [placeholder]="0"
                          class="form-control"
                          (input)="calculate($event, i)"
                          [(ngModel)]="
                            bag.weightPost == null ? '' : bag.weightPost
                          "
                        />
                      </td>
                      <td>
                        {{
                          bag.weightVariance == null
                            ? bag.weightPre
                            : bag.weightVariance
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
