<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          @if (showHeader) {
          <h1>{{ "Customer Transactions" | localize }}</h1>
          }
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <div
                class="row"
                style="
                  display: flex;
                  justify-content: left;
                  align-items: center;
                "
              >
                <select
                  name="entriesCount"
                  id="entriesCount"
                  class="form-control col-2"
                  (change)="entries($event)"
                >
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="250">250</option>
                </select>
                <h6 class="ml-2 mt-2">Entries</h6>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    type="button"
                    class="btn bg-olive"
                    (click)="getDataPage(1)"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="keyword"
                  [placeholder]="'SearchWithThreeDot' | localize"
                  [(ngModel)]="keyword"
                  (keyup.enter)="getDataPage(1)"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="scroll">
            <table
              class="table table-bordered"
              [busy]="isTableLoading"
            >
              <thead>
                <tr>
                  <th>{{ "Customer" | localize }}</th>
                  <th>{{ "Payment Mode" | localize }}</th>
                  <th>{{ "Currency" | localize }}</th>
                  <th>{{ "Transaction Type" | localize }}</th>
                  <th>{{ "Amount" | localize }}</th>
                  <th>{{ "Reference No" | localize }}</th>
                  <th>{{ "Description" | localize }}</th>
                  <th>{{ "Transaction Date" | localize }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let customerTransaction of customerTransactions
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          }
                  "
                >
                  <!-- <td>{{ customerTransaction.wallet }}</td> -->
                  <td>{{ customerTransaction.customer }}</td>
                  <td>{{ customerTransaction.paymentMode }}</td>
                  <td>{{ customerTransaction.currency }}</td>
                  <td>{{ customerTransaction.transactionType }}</td>
                  <td style="white-space: nowrap;">
                    @if (customerTransaction.amount > 0) {
                      <div class="text-success text-left">
                        <i class="fas fa-plus-square"></i>
                        {{ customerTransaction.amount | number : "1.2-2" }}
                      </div>
                    }
                    @else {
                      <div class="text-danger text-left">
                        <i class="fas fa-minus-square"></i>
                        {{ +customerTransaction.amount.toString().replace("-", "") | number : "1.2-2" }}
                      </div>
                    }
                  </td>
                  <td>{{ customerTransaction.referenceNo }}</td>
                  <td>{{ customerTransaction.description }}</td>
                  <td>
                    {{ customerTransaction.transactionDate | date : "dd/MM/yyyy HH:mm:ss tt" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            @if (showPagination){
              <div class="col-sm-4 col-12 text-center">
                <p class="mb-0 my-2">
                  {{ "TotalRecordsCount" | localize : totalItems }}
                </p>
              </div>
              } @else {
              <div class="col-sm-4 col-12 text-center"></div>
              } @if (showPagination) {
              <div class="col-sm-4 col-12">
                <div class="float-sm-right m-auto">
                  <abp-pagination-controls
                    id="server"
                    (pageChange)="getDataPage($event)"
                  >
                  </abp-pagination-controls>
                </div>
              </div>
              } @else if (!showPagination) {
              <div class="col-sm-4 col-12">
                <div class="float-sm-right m-auto">
                  <button class="btn info-btn" (click)="rerouteToModule()">
                    <i class="far fa-file-alt"></i>
                    Show More
                  </button>
                </div>
              </div>
              }
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
