<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1 style="font-size: 3.5rem">
            <b>{{ "Welcome" | localize }}, {{ showLoginName }}</b>
          </h1>
          <br />
          <h5>FUND MONITORING</h5>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <div
                    class="row"
                    style="
                      display: flex;
                      justify-content: left;
                      align-items: center;
                    "
                  >
                    <select
                      name="entriesCount"
                      id="entriesCount"
                      class="form-control col-2"
                      (change)="entries($event)"
                    >
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="250">250</option>
                    </select>
                    <h6 class="ml-2 mt-2">Entries</h6>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button
                        type="button"
                        class="btn bg-blue"
                        (click)="getDataPage(1)"
                      >
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="keyword"
                      [placeholder]="'SearchWithThreeDot' | localize"
                      [(ngModel)]="keyword"
                      (keyup.enter)="getDataPage(1)"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table
                  class="table table-striped table-bordered"
                  [busy]="isTableLoading"
                >
                  <thead class="bg-light">
                    <tr>
                      <th>{{ "Wallet" | localize }}</th>
                      <th>{{ "Customer" | localize }}</th>
                      <th>{{ "Payment Mode" | localize }}</th>
                      <th>{{ "Currency" | localize }}</th>
                      <th>{{ "Transaction Type" | localize }}</th>
                      <th>{{ "Amount" | localize }}</th>
                      <th>{{ "Reference No" | localize }}</th>
                      <th>{{ "Description" | localize }}</th>
                      <th>{{ "Transaction Date" | localize }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let customerTransaction of customerTransactions
                          | paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                              }
                      "
                    >
                      <td>{{ customerTransaction.wallet }}</td>
                      <td>{{ customerTransaction.customer }}</td>
                      <td>{{ customerTransaction.paymentMode }}</td>
                      <td>{{ customerTransaction.currency }}</td>
                      <td>{{ customerTransaction.transactionType }}</td>
                      <td>{{ customerTransaction.amount | currency }}</td>
                      <td>{{ customerTransaction.referenceNo }}</td>
                      <td>{{ customerTransaction.description }}</td>
                      <td>
                        {{
                          customerTransaction.transactionDate | date : "short"
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer table-card-footer bg-light border-top">
              <div class="row">
                <div class="col-sm-4 col-12 text-sm-left text-center">
                  <button class="btn btn-secondary" (click)="refresh()">
                    <i class="fas fa-redo-alt"></i>
                  </button>
                </div>
                <div class="col-sm-4 col-12 text-center">
                  <p class="mb-0 my-2">
                    {{ "TotalRecordsCount" | localize : totalItems }}
                  </p>
                </div>
                <div class="col-sm-4 col-12">
                  <div class="float-sm-right m-auto">
                    <abp-pagination-controls
                      id="server"
                      (pageChange)="getDataPage($event)"
                    >
                    </abp-pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              <h2 class="mt-2"><strong>Prepaid</strong></h2>
            </div>
            <div class="card-body">
              <div
                class="currency_wallet"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: left;
                "
                *ngFor="let wallet of filterType(2)"
              >
                <div class="currency">
                  <h5 class="mt-2 ml-2">
                    {{ wallet.currency }}
                  </h5>
                </div>
                <div class="amount">
                  <h5 class="mt-2 ml-2">
                    {{ wallet.balance | number : "1.2-2" }}
                  </h5>
                </div>
                <hr />
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h2 class="mt-2"><strong>Credit Term</strong></h2>
            </div>
            <div class="card-body">
              <div
                class="currency_wallet"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: left;
                "
                *ngFor="let wallet of filterType(1)"
              >
                <div class="currency">
                  <h5 class="mt-2 ml-2">
                    {{ wallet.currency }}
                  </h5>
                </div>
                <div class="amount">
                  <h5 class="mt-2 ml-2">
                    {{ wallet.balance | number : "1.2-2" }}
                  </h5>
                </div>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
