<form
  class="form-horizontal"
  autocomplete="off"
  #createPostalCountryModal="ngForm"
  (ngSubmit)="save()"
  *ngIf="isLoaded"
>
  <abp-modal-header
    [title]="
      isCreate == true
        ? ('Add Postal Country' | localize)
        : ('Edit Postal Country' | localize)
    "
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="postalCode">
        {{ "Postal Code" | localize }}
      </label>
      <div class="col-md-9">
        <select
          name="postal"
          id="postal"
          class="form-control"
          [(ngModel)]="postalcountry.postalCode"
          (change)="selectedPostal($event)"
        >
          <option value="">Select Postal</option>
          @for (postalItem of postalDDL; track $index) {
          <option value="{{ postalItem.postalCode }}">
            {{ postalItem.postalDesc }} ({{ postalItem.postalCode }})
          </option>
          }
        </select>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="countryCode">
        {{ "Country Code" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="countryCode"
          id="countryCode"
          maxlength="2"
          required
          [(ngModel)]="postalcountry.countryCode"
          #countryCodeModel="ngModel"
          #countryCodeEl
          style="text-transform:uppercase"
        />
        <abp-validation-summary
          [control]="countryCodeModel"
          [controlEl]="countryCodeEl"
        ></abp-validation-summary>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createPostalCountryModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
