<form
  class="form-horizontal"
  autocomplete="off"
  #createInvoiceModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="
      isCreate == true
        ? ('Create Invoice' | localize)
        : ('Edit Invoice' | localize)
    "
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="custom">
        {{ "Custom Invoice" | localize }}
      </label>
      <div class="col-md-9">
        <select
          name="custom"
          id="custom"
          class="form-control"
          (change)="selectedCustom($event)"
        >
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>
      </div>
    </div>
    <div class="form-group row required" *ngIf="!custom">
      <label class="col-md-3 col-form-label" for="Date">
        {{ "Date" | localize }}
      </label>
      <div class="col-md-5">
        <select
          name="month"
          id="month"
          class="form-control"
          [(ngModel)]="selected_month"
          (change)="selectedDate($event)"
        >
          @for (month of months; track $index) {
          <option value="{{ month }}">
            {{ month }}
          </option>
          }
        </select>
      </div>
      <div class="col-md-4">
        <select
          name="year"
          id="year"
          class="form-control"
          [(ngModel)]="selected_year"
          (change)="selectedDate($event)"
        >
          @for (year of years; track $index) {
          <option value="{{ year }}">
            {{ year }}
          </option>
          }
        </select>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="customer">
        {{ "Customer" | localize }}
      </label>
      <div class="col-md-9">
        <select
          name="customer"
          id="customer"
          class="form-control"
          (change)="selectedCustomer($event)"
        >
          <option value="">Select a Customer</option>
          @for (customer of customers; track $index) {
          <option value="{{ customer.code }}">
            {{ customer.companyName }}
          </option>
          }
        </select>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="invoiceNo">
        {{ "InvoiceNo" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="invoiceNo"
          id="invoiceNo"
          required
          [(ngModel)]="invoice_info.invoiceNo"
          #invoiceNoModel="ngModel"
          #invoiceNoEl
        />
        <abp-validation-summary
          [control]="invoiceNoModel"
          [controlEl]="invoiceNoEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="dateTime">
        {{ "DateTime" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="dateTime"
          id="dateTime"
          required
          [(ngModel)]="invoice_info.invoiceDate"
          #dateTimeModel="ngModel"
          #dateTimeEl
        />
        <abp-validation-summary
          [control]="dateTimeModel"
          [controlEl]="dateTimeEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required" *ngIf="custom">
      <label class="col-md-3 col-form-label" for="custom_dispatch">
        {{ "Dispatches" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="custom_dispatch"
          id="custom_dispatch"
          required
          [(ngModel)]="custom_dispatch"
          #custom_dispatchModel="ngModel"
          #custom_dispatchEl
        />
        <abp-validation-summary
          [control]="custom_dispatchModel"
          [controlEl]="custom_dispatchEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required" *ngIf="!custom">
      <label class="col-md-3 col-form-label" for="dispatches">
        {{ "Dispatches" | localize }}
      </label>
      <div class="col-md-9">
        <div class="dispatch_container" *ngIf="dispatches.length == 0">
          <label for="form-check-label">No Dispatches</label>
        </div>
        <div class="dispatch_container" *ngIf="dispatches.length != 0">
          <div class="row">
            <div class="col-6">
              <label><u>Dispatch</u></label>
            </div>
            <div class="col-3">
              <label><u>Weight (KG)</u></label>
            </div>
            <div class="col-3">
              <label><u>Credit/Debit</u></label>
            </div>
          </div>
          <section class="scroll-sm">
            @for (dispatch of dispatches; track $index) {
            <div class="row mb-1">
              <div class="form-check col-6" style="padding-left: 2rem">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [(ngModel)]="dispatch.selected"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="onCheckboxChange()"
                  id="{{ dispatch.name }}_{{ dispatch.itemCount }}"
                />
                <label
                  class="form-check-label"
                  for="{{ dispatch.name }}_{{ dispatch.itemCount }}"
                >
                  {{ dispatch.name }}
                </label>
              </div>
              <div class="col-3">{{ dispatch.weight | number : ".3" }}</div>
              <div class="col-3" *ngIf="dispatch.credit != 0">
                +{{ dispatch.credit | number : ".2" }}
              </div>
              <div class="col-3" *ngIf="dispatch.debit != 0">
                -{{ dispatch.debit | number : ".2" }}
              </div>
            </div>
            }
          </section>
        </div>
      </div>
    </div>
    <div class="form-group row required" *ngIf="!custom">
      <label class="col-md-3 col-form-label" for="generateby">
        {{ "Generate" | localize }}
      </label>
      <div class="col-md-9">
        <select
          name="generateby"
          id="generateby"
          class="form-control"
          [(ngModel)]="generateBy"
          [ngModelOptions]="{ standalone: true }"
          (change)="selectedGenerateBy($event)"
        >
          @for (gen of generateby; track $index) {
          <option value="{{ gen.id }}">
            {{ gen.name }}
          </option>
          }
        </select>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="billTo">
        {{ "Bill To" | localize }}
      </label>
      <div class="col-md-9">
        <textarea
          class="form-control"
          name="billTo"
          id="billTo"
          rows="5"
          required
          [(ngModel)]="invoice_info.billTo"
          #billToModel="ngModel"
          #billToEl
        ></textarea>
        <abp-validation-summary
          [control]="billToModel"
          [controlEl]="billToEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div
      class="alert alert-warning"
      role="alert"
      *ngIf="showThresholdWarning && !custom"
    >
      The total items for the selected items exceed
      {{ invoice_item_count_threshold }} items, retrieving this data may take
      some time.
    </div>
    <hr />
    <section *ngIf="!custom">
      <div class="row mt-1">
        <div class="col-10"></div>
        <div class="col-2">
          <button
            type="button"
            class="btn bg-olive"
            style="width: 100%"
            (click)="fetch()"
            [disabled]="fetching"
          >
            @if (!fetching) {
            <i class="fas fa-sync-alt"></i> Fetch } @else {
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            Fetching }
          </button>
        </div>
      </div>
      @if (itemWrapper != undefined && itemWrapper.dispatchItems.length > 0) {
      <div class="row">
        <div class="col-4" *ngIf="generateBy === 1">
          <label>Dispatch No.</label>
        </div>
        <div class="col-4" *ngIf="generateBy === 2"><label>Bag No.</label></div>
        <div class="col-4" *ngIf="generateBy === 3"><label>Item Id</label></div>
        <div class="col-1"><label>Weight (KG)</label></div>
        <div class="col-1"><label>Country</label></div>
        <div class="col-1"><label>Rate/KG</label></div>
        <div class="col-1"><label>Quantity</label></div>
        <div class="col-1"><label>Unit Price</label></div>
        <div class="col-2"><label>Amount</label></div>
        <div class="col-1"><label>Currency</label></div>
      </div>
      <section class="scroll-md">
        @for (item of itemWrapper.dispatchItems; track $index) {
        <div class="row mb-1">
          <div class="col-4">
            <input
              type="text"
              *ngIf="generateBy === 1"
              [(ngModel)]="item.dispatchNo"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              placeholder="Bottle"
            />
            <input
              type="text"
              *ngIf="generateBy === 2 || generateBy === 3"
              [(ngModel)]="item.identifier"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              placeholder="Bottle"
            />
          </div>
          <div class="col-1">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="item.weight"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-1">
            <input
              type="text"
              [(ngModel)]="item.country"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            />
          </div>
          <div class="col-1">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="item.rate"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-1">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="item.quantity"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-1">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="item.unitPrice"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-2">
            <input
              type="number"
              [(ngModel)]="item.amount"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            />
          </div>
          <div class="col-1">
            <input
              type="text"
              [(ngModel)]="item.currency"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            />
          </div>
        </div>
        }
      </section>
      <div class="row mt-2">
        <div class="col-9"><label>Total Amount</label></div>
        <div class="col-2">
          <label
            ><input
              type="number"
              [(ngModel)]="itemWrapper.totalAmount"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
          /></label>
        </div>
        <div class="col-1"></div>
      </div>
      }
    </section>
    <hr />
    <br />
    <section>
      @if (itemWrapper != undefined && itemWrapper.surchargeItems.length > 0) {
      <div class="row">
        <div class="col-1"><label>Delete</label></div>
        <div class="col-2"><label>Description</label></div>
        <div class="col-1"><label>Weight (KG)</label></div>
        <div class="col-2"><label>Country</label></div>
        <div class="col-1"><label>Rate/KG</label></div>
        <div class="col-1"><label>Quantity</label></div>
        <div class="col-1"><label>Unit Price</label></div>
        <div class="col-2"><label>Amount</label></div>
        <div class="col-1"><label>Currency</label></div>
      </div>
      <section class="scroll-md">
        @for (surcharge of itemWrapper.surchargeItems; track $index) {
        <div class="row mb-1">
          <div class="col-1">
            <button
              type="button"
              class="btn btn-danger"
              style="width: 100%"
              (click)="deleteSurcharge($index)"
            >
              <i class="fas fa-minus-circle"></i>
            </button>
          </div>
          <div class="col-2">
            <input
              type="text"
              [(ngModel)]="surcharge.dispatchNo"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              placeholder="Bottle"
            />
          </div>
          <div class="col-1">
            <input
              type="text"
              class="form-control"
              (keypress)="validateAndCalculate($event, $index, 'weight')"
              placeholder="3.015"
            />
          </div>
          <div class="col-2">
            <input
              type="text"
              [(ngModel)]="surcharge.country"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              placeholder="Canada"
            />
          </div>
          <div class="col-1">
            <input
              type="text"
              class="form-control"
              (keypress)="validateAndCalculate($event, $index, 'ratePerKG')"
              placeholder="1.05"
            />
          </div>
          <div class="col-1">
            <input
              type="text"
              class="form-control"
              (keypress)="validateAndCalculate($event, $index, 'quantity')"
              placeholder="5"
            />
          </div>
          <div class="col-1">
            <input
              type="text"
              class="form-control"
              (keypress)="validateAndCalculate($event, $index, 'unitPrice')"
              placeholder="4.15"
            />
          </div>
          <div class="col-2">
            <input
              type="text"
              (keypress)="validateAndCalculate($event, $index, 'amount')"
              class="form-control"
              placeholder="5.00"
            />
          </div>
          <div class="col-1">
            <select
              name="currencies"
              id="currencies"
              class="form-control"
              [(ngModel)]="surcharge.currency"
              [ngModelOptions]="{ standalone: true }"
            >
              <option value="">Select</option>
              @for (currency of currencies; track $index) {
              <option value="{{ currency.abbr }}">{{ currency.abbr }}</option>
              }
            </select>
          </div>
        </div>
        }
      </section>
      <div class="row mt-2">
        <div class="col-9"><label>Total Amount With Surcharge</label></div>
        <div class="col-2">
          <label
            ><input
              type="number"
              [(ngModel)]="itemWrapper.totalAmountWithSurcharge"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
          /></label>
        </div>
        <div class="col-1"></div>
      </div>
      }
      <div class="row mt-1">
        <div class="col-10"></div>
        <div class="col-2">
          <button
            type="button"
            class="btn bg-olive"
            style="width: 100%"
            (click)="addSurcharge()"
          >
            <i class="fas fa-plus"></i> Add Surcharge
          </button>
        </div>
      </div>
    </section>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createInvoiceModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
