<abp-modal-header
  [title]="'Application Detail' | localize"
  (onCloseClick)="bsModalRef.hide()"
></abp-modal-header>
<div class="modal-body">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <label><strong>Customer</strong></label>
    </div>
    <div class="col-6">
      <label>{{ application.customerCode }}</label>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <label><strong>Postal</strong></label>
    </div>
    <div class="col-6">
      <label>{{ application.postalCode }}</label>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <label><strong>Product</strong></label>
    </div>
    <div class="col-6">
      <label>{{ application.productCode }}</label>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <label><strong>Total Requested</strong></label>
    </div>
    <div class="col-6">
      <label>{{ application.total }}</label>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <label><strong>Date of Application</strong></label>
    </div>
    <div class="col-6">
      <label>{{ application.dateCreated | date : "dd/MM/yyyy hh:mm a" }}</label>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <label><strong>Status</strong></label>
    </div>
    <div class="col-6">
      <h5>
        @if(application.status == "Pending"){
        <span class="badge badge-pill badge-warning">{{
          application.status
        }}</span>
        } @else if (application.status == "Approved") {
        <span class="badge badge-pill badge-success">{{
          application.status
        }}</span>
        } @else if (application.status == "Approved & Generated") {
        <span class="badge badge-pill badge-success">{{
          application.status
        }}</span>
        } @else if (application.status == "Declined") {
        <span class="badge badge-pill badge-danger">{{
          application.status
        }}</span>
        } @else if (application.status == "Generating") {
        <span class="badge badge-pill badge-info">{{
          application.status
        }}</span>
        }
      </h5>
    </div>
    <div class="col-1"></div>
  </div>
  <hr />
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <label><strong>Issued</strong></label>
    </div>
    <div class="col-6">
      <label>{{ amount.issued }}</label>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <label><strong>Remaining</strong></label>
    </div>
    <div class="col-6">
      <label>{{ amount.remaining }}</label>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <label><strong>Uploaded with Pre-Alert</strong></label>
    </div>
    <div class="col-6">
      <label>{{ amount.uploaded }}</label>
    </div>
    <div class="col-1"></div>
  </div>
  <hr />
  @if (application.status == "Pending") {
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <label><strong>Issue Tracking Numbers</strong></label>
    </div>
    <div class="col-6">
      <div class="row">
        <input
          type="text"
          class="col-2"
          [(ngModel)]="prefix"
          placeholder="RS"
          maxlength="2"
          oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
        />
        <input
          type="text"
          class="col-3"
          [(ngModel)]="prefixNo"
          placeholder="05"
          [maxlength]="prefixNoMaxLength"
          onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
        />
        <input
          type="text"
          class="col-5"
          [disabled]="true"
          placeholder="Leave Blank"
        />
        <input
          type="text"
          class="col-2"
          [(ngModel)]="suffix"
          maxlength="2"
          oninput="let y=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(y, y);"
        />
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <label><strong>Remark/Reason</strong></label>
    </div>
    <div class="col-6">
      <div class="row">
        <textarea [(ngModel)]="remark" style="width: 100%"></textarea>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4 text-center">
      <button class="btn btn-danger" (click)="decline()" [disabled]="saving">
        Decline Application
      </button>
    </div>
    <div class="col-4 text-center">
      <button
        class="btn btn-primary"
        (click)="approve()"
        [disabled]="invalid() || saving"
      >
        Approve &amp; Issue
      </button>
    </div>
    <div class="col-2"></div>
  </div>
  } @else {
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 text-center">
      <button
      class="btn btn-danger"
        (click)="undo()"
        [disabled]="amount.remaining < amount.issued || saving"
      >
        Undo Review
      </button>
    </div>
    <div class="col-4"></div>
  </div>
  }
</div>
